// Variables
$header-font: 'Oswald', serif; 
$body-font: 'Droid Serif', sans-serif;

$primary: rgb(194, 217, 149);
$secondary:rgb(57, 86, 104);
$light: rgb(251, 251, 251);
// Global Styles
body {
  margin:0;
  padding:0;
}

