<div class="landing">
  <h1 class="title-main">RAILS BLOG</h1>
  <ul class="landing-nav">
    <li class="landing-link"><%= link_to "Most Recent", root_path %></li>
    <li class="landing-link"><%= link_to "Popular", root_path %></li>
    <li class="landing-link"><%= link_to "By Category", root_path %></li>
  </ul>
</div>
