<section class="posts-wrapper">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post.title, post_path(post), class: 'post-title' %>
      <div><%= post.body %></div>
      <%= "Category:#{post.category_ids}" %><br>
      <%= "Created At:#{post.created_at}" %>
    </div>
  <% end %>
</section>
